<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user, url: user_registration_path, html: { method: :PATCH }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.hidden_field :step, value: '1' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.fields_for :user_profile do |ff| %>
    <div class="field">
      <%= ff.label :name %> <br>
      <%= ff.text_field :name, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= ff.label :date_of_birth %> <br>
      <%= ff.date_field :date_of_birth, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= ff.label :phone %> <br>
      <%= ff.number_field :phone, autocomplete: "name" %>
    </div>
    <div class="field">
      <%= ff.label :address %> <br>
      <%= ff.text_field :address, autocomplete: "name" %>
    </div>
  <%end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it sasdsad)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "cap nhat" %>
  </div>
<% end %>

<h3>Log out</h3>
<p><%= link_to ' dang xuat' , destroy_user_session_path, method: :delete%></p>

<%= link_to "Back", :back %>
